.clave{
    background-image: url('./img/clave-fondo.png');
    padding: 60px 0;
}

.clave  .container2{
    background-color: rgba(128, 128, 128, 0.027);
}

.extraTitle{
    display: block;
    font-size: 1.5rem;
    padding: 5px 0;
}

.sectionTitle2{
    color: white;
    padding: 15px 0;
}

.sectionText2{
    color: orange;
    margin-bottom: 75px;
}

.clave__container{
    width: 100%;
}

.clave__img{
    object-position: -50px 0px;
}

.center{
    text-align: center;
}
