
.saldo{
    margin: 50px 0;
    font-size: 3rem;
    font-weight: 700;
    background: white;
    line-height: 4.5rem;
}
.saldo span{
    font-weight: 400;
    
}

.flex-around{
    justify-content: space-around;
}