.container{
    width: 1200px;
    height: 900px;
    margin: 0 auto;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    top: 50px;
}

.banner{
    height: 130px;
    overflow: hidden;
}

.logo{
    object-position: 0px -15px;
    width: 100%;
}


.container2{
    padding: 60px;
}
.section__text{
    width: 50%;
    color: red;
}

.sectionTitle{
    font-size:2.5rem;
    font-weight: 700;
    padding: 10px 0;
}

.sectionText{
    font-size: 1.5rem;
    color: black;
    font-weight: 700;
}



.dni__container{
    padding: 80px 0 20px 0;
    transform: rotate(-5deg);
}
.dni{
    box-shadow: 5px 2.5px rgba(128, 128, 128, 0.233);
    border-radius: 20px;
    
    background-color: aquamarine;
    
}

.mensajeAlerta{
    color: red;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 60px;
}


.section__input{
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
.input__container{
    border: none;
    border-bottom: 1px solid black;
    padding: 15px 0;
    line-height: 20px;
    margin: 85px 0 130px 0;
    width: 100%;
    background: transparent;
    font-size: 1.5rem;

}

button{
    display: block;
}

.btn{
    width: 450px;
    text-align: left;
    border-radius: 15px;
    border: 5px solid white;
    overflow: hidden;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 15px 0;

}
.btn i {
    background-color: green;
    color: white;
    padding: 40px;
    margin-right:  20px;
    font-size: 35px;
}

.corregir i {
    background-color: red;
}